<form #employeeForm="ngForm">    <!-- #employeeForm--template reference from -->
    <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title"> Create Emloyee</h3>
        </div>
        <div class="panel-body">
            <div class="form-group"> 
               <label for="fullname">Full Name </label>
               <input type="text" name="fn" [(ngModel)]="fullName" class="form-control" id="fullname"/>
            </div>
    
            <div class="form-group"> 
                <label for="email">email </label>
                <input type="text" class="form-control" name="mail" [(ngModel)]="email" id="email"/>
             </div>
        </div>
        <div class="panel-footer">
          <button type="submit" class="btn btn-primary">submit</button>      
        </div>
     </div>
    
</form>

Angular generated forms model:{{employeeForm.value |json}}
